{% extends "web/base.html" %}
{% load static %}
{% block body %}
 <div class="fluid-container">

<div class="wrapper">

    <nav id="sidebar">


        <div class="sidebar-header ">
            <h3>Categories</h3>
        </div>

        {% for category in allCategories %}


        <ul class="list-unstyled components">
            <li class="active"><a href="#">{{category.category_name}}

                {% if user.is_authenticated %}

                {% if category.id in subscribercategory %}
                <button class="btn btn-danger ml-3 sub " id="{{request.user.id}}" name="{{category.id}}">UnSubscribe</button>
                {% else %}
                <button class="btn btn-danger ml-3 sub" id="{{request.user.id}}" name="{{category.id}}">Subscribe</button>
                {% endif %}

                {% endif %}
            </a></li>
        </ul>
        {% endfor %}
    </nav>

    <div class="container">

<div class="row">

<div class='col-9' id="posts">
{% for post in posts %}

        <div class="card mb-3">

            <a href="/bloggawy/post/{{post.id}}">
            <img class="card-img-top" style ="width: 400px;height: 400px" src="{%static 'bloggawy/images/'%}{{post.post_photo}}" alt="Card image cap">
            </a>
                <div class="card-body">
                <h4 class="card-title">{{post.post_title}}</h4>
                <p class="card-text">{{post.post_content|linebreaksbr|slice:":100"}}</p>
                <p class="card-text">
                    <small class="text-muted">By : {{post.post_user}}&#9679;

                                <small class="text-muted">{{post.post_time}}</small></small>
                </p>
            </div>
        </div>



        {% endfor %}

</div>


    <div class="ui-widget col-3">
        <label for="search">Search</label>
        <input id="search">
    </div>
    </div>
    </div></div>

<br/>
<br/>
<br/>


 </div>
{% endblock %}


