{% extends "admin/adminpaneltwo.html" %}
{% block main_block %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>

<div class="container">
  <h2 class="text-center">Users </h2>
  <br>
  <br>
  <td><a href="/bloggawy/User/add"><button type="button" class="btn btn-success pull-right" >Add </button></td></a> 
  
  <table class="table">
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>last login</th>
      </tr>
    </thead>
    <tbody>
    	{%for us in allusers %}
				{% if us.is_superuser == 1 %}
					<tr class ="danger">
						<td><font color="red">{{us.username}}</font></td>
						<td><font color="red">{{us.email}}</font></td>
						<td><font color="red">{{us.last_login}}</font></td>					
					</tr>
				{% elif us.is_superuser == 0 %}
					<tr>
						<td>{{us.username}}</td>
						<td>{{us.email}}</td>
						<td>{{us.last_login}}</td>	
						<td><button type="button" class="btn btn-danger" >Block</button></td>
            <td><a href="/bloggawy/{{us.id}}/User/delete"><button type="button" class="btn btn-danger">Delete </button></td></a>
            <td><a href="/bloggawy/{{us.id}}/User/edit"><button type="button" class="btn btn-primary" >Edit </button></td></a>
            <td><button type="button" class="btn btn-primary" >Promote</button></td>	

					</tr>
				{% endif %}

			{% endfor %}

         
     
   </tbody>
  </table>
</div>

</body>
</html>


{% endblock %}
